/* Fluid font size variables, for browsers that support clamp */
@supports (font-size: clamp(1rem, 1vw, 1rem)) {
  :root {
    --font-size-sm: clamp(0.83rem, 0.17vw + 0.79rem, 0.93rem);
    --font-size-base: clamp(1rem, 0.45vw + 0.89rem, 1.25rem);
    --font-size-md: clamp(1.2rem, 0.89vw + 0.98rem, 1.69rem);
    --font-size-lg: clamp(1.44rem, 1.52vw + 1.06rem, 2.28rem);
    --font-size-xl: clamp(1.73rem, 2.45vw + 1.12rem, 3.08rem);
    --font-size-xxl: clamp(2.07rem, 3.78vw + 1.13rem, 4.15rem);
    --font-size-xxxl: clamp(2.49rem, 5.67vw + 1.07rem, 5.61rem);
  }
}

/* Fallback variables for browsers that don't support clamp */
@supports not (font-size: clamp(1rem, 1vw, 1rem)) {
  :root {
    --font-size-sm: 0.83rem;
    --font-size-base: 1rem;
    --font-size-md: 1.2rem;
    --font-size-lg: 1.44rem;
    --font-size-xl: 1.73rem;
    --font-size-xxl: 2.07rem;
    --font-size-xxxl: 2.49rem;
  }

  @media screen and (min-width: 1280px) {
    :root {
      --font-size-sm: 0.93rem;
      --font-size-base: 1.25rem;
      --font-size-md: 1.69rem;
      --font-size-lg: 2.28rem;
      --font-size-xl: 3.08rem;
      --font-size-xxl: 4.15rem;
      --font-size-xxxl: 5.61rem;
    }

  }
}

:root {
  --black: #372f3a;
  --darkest-blue: #464459;
  --dark-blue: #545e72;
  --blue: #5d7680;
  --light-blue: #6a9395;
  --lightest-blue: #7bad9f;
  --dark-green: #4b785c;
  --green: #8eb29a;
  --light-green: #b3c6b4;
  --lightest-green: #c5d2ce;
  --red: #631b34;
  --dark-red: #411d31;
  --white: #d3d8d9;
  color-scheme: dark light;
  accent-color: var(--green);
  background-color: var(--black);
  color: var(--lightest-green);
}

html,
body {
  height: 100%;
}

body {
  word-break: keep-all;
  display: flex;
  flex-direction: column;
  font-family: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
  font-weight: normal;
  font-size: var(--font-size-base);
  line-height: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Superclarendon, 'Bookman Old Style', 'URW Bookman', 'URW Bookman L', 'Georgia Pro', Georgia, serif;
  font-weight: 600;
  color: var(--green);
}

h1 {
  font-size: var(--font-size-xxl);
  margin-left: 2vw;
  line-height: 1em;
}

h2 {
  font-size: var(--font-size-xl);
  margin-left: 3vw;
  line-height: 1em;
}

h3 {
  font-size: var(--font-size-lg);
  margin-left: 4vw;
}

h4 {
  font-size: var(--font-size-md);
  font-weight: bold;
  margin-left: 5vw;
}

h5 {
  font-size: var(--font-size-md);
  margin-left: 6vw;
}

h6 {
  font-size: var(--font-size-sm);
  font-weight: bold;
}

p {
  margin: 1.3em .75em;
}

b {
  font-weight: bold;
}

em {
  font-style: italic;
}

ul {
  padding-left: 10%;
}

li {
  margin: .5rem;
  max-width: 80ch;
}

div ul {
  list-style: none;
}

mark,
a {
  border-radius: 3px;
  padding: 0 .1vw;
}

a {
  background-color: var(--light-green);
  color: var(--black);
  text-decoration: none;

  /*border-style:none; TODO: re-enable if it seems more necessary for accessibility
  border-width: 2px;
  border-color: var(--black)*/
  &:has(svg),
  &:has(img) {
    border-style: none;
    background-color: var(--color-background) !important;
    /* important overrides the background color change if it's an extenal web link, hack to fix button board*/
  }

  &:hover {
    color: var(--lightest-green);
    background-color: var(--dark-blue);
    border-color: var(--lightest-green);
  }
}

a[href*='//'],
.web {
  background-color: var(--red);
  color: var(--white);
  border-color: var(--dark-blue);

  &:hover {
    color: var(--red);
    background-color: var(--dark-blue);
  }
}

header {
  & img {
    float: right;
    width: 20vw;
    max-width: 145px;
    margin: 2rem 2rem 0 0;
    border-radius: 250px;
  }

  & nav {
    padding-left: 4vw;
    padding-bottom: 2vh;

    & a {
      margin-left: 2vw;
      padding: .5vh .5vw;
    }
  }

  & em {
    padding-left: 8vw;
  }
}



main {
  flex: 1 0 auto;
  padding: 0% 2% 2% 2%;
  max-width: 84ch;


  & p {
    padding-left: 4ch;
    text-indent: 1ch;
  }

  & p:has(img) {
    text-indent: 0ch;
  }

  & img {
    max-width: 100%;
  }


}

footer {
  flex-shrink: 0;
  margin-bottom: 0px;
  margin-top: auto;

  & svg:hover {
    fill: var(--light-green);
  }

  & .webring:hover {
    stroke: var(--light-green);
    fill: none;
  }

  & .button-board {
    margin-left: 4rem;

    & img {
      width: 88px;
      height: 31px;
    }
  }
}

table {
  table-layout:fixed;

  & th,
  td {
    border-width: 2px;
    border-style: solid;
    border-color: currentColor;
    padding: 2vh 2vw;
    text-align: center;

  }

  & th {
    position: sticky;
    top: 0;
    background: var(--black);
    border-width:3px;
  }

}

pre {
  white-space: pre;
  margin: 1vh 5vw;
  font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  font-weight: normal;
  font-size: var(--font-size-sm);
  background-color: var(--darkest-blue);
  padding: 2vh 2vw;
  border-radius: 8px;
  max-width: 80ch;

  a {
    display: none;
    /* temporary fix for weird padding added during note conversion */
  }
}

pre code {
  display: block;
  overflow-x: auto;
}

blockquote {
  background: var(--darkest-blue);
  border-left: 10px solid #ccc;
  margin: 1.5em;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: var(--white);
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}


@media (prefers-color-scheme: light) {
  :root {
    background-color: var(--white);
    color: var(--black);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--dark-red);
  }

  a {
    color: var(--white);
    background-color: var(--dark-green);
    text-decoration: none;
  }

  a:hover {
    color: var(--black);
    background-color: var(--light-blue);
  }

  pre {
    background-color: var(--light-green);
  }

  th {
    background: var(--white)
  }

  footer {
    & svg {
      fill: var(--dark-red);
    }

    & .webring {
      fill: none;
      stroke: var(--dark-red);
    }

    & svg:hover {
      fill: var(--dark-blue);
    }

    & .webring:hover {
      stroke: var(--dark-blue);
    }
  }

}

@media only screen and (orientation: portrait),
(max-width: 600px) {
  main {
    & p {
      margin-left: 1ch;
    }

    & img {
      width: 95vw;
    }
  }

  main {
    margin: 0%;
  }
}